.font-darksouls {
  font-family: Optimus;
  text-shadow: 3px -3px Orange;
  color: white;
  text-shadow:
    -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;
  text-shadow:
    0 0 0.2em DarkOrange,
    0 0 0.2em black,
    0 0 0.2em DarkOrange;
  color: white;
}
